@import 'utils';

html,
body {
    height: 100vh;

    .bg-container {
        background: $primary-color url('../images/Office-Supplies.jpg')
            no-repeat scroll center;
        background-size: cover;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        overflow: hidden;

        .my-content {
            @include box(330px, 510px);
            margin-top: 4.5rem;
            position: relative;

            h3 {
                @extend %header;
            }

            h6 {
                @extend %header;
            }

            ul {
                width: 95%;
                font-size: 15px;

                li {
                    font-family: $primary-font;
                    font-size: 1.2em;
                    list-style: circle;
                    list-style-position: outside;

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}

@import 'modal';
@import 'toast';
